In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

import statsmodels.api as sm
import statsmodels.tools

In [3]:
df = pd.read_csv("life_expectancy_data_updated.csv")

In [4]:
df.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.32,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.35,97,94,26.0,...,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.57,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.68,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.89,97,89,27.0,...,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7

In [5]:
df.drop('Country',axis=1,inplace=True)

In [6]:
df.shape

(2864, 20)

In [7]:
## create a list of the column names for our features and remove the target column
feature_cols = list(df.columns)
feature_cols.remove('Life_expectancy')

In [8]:
feature_cols

['Region',
 'Year',
 'Infant_deaths',
 'Under_five_deaths',
 'Adult_mortality',
 'Alcohol_consumption',
 'Hepatitis_B',
 'Measles',
 'BMI',
 'Polio',
 'Diphtheria',
 'Incidents_HIV',
 'GDP_per_capita',
 'Population_mln',
 'Thinness_ten_nineteen_years',
 'Thinness_five_nine_years',
 'Schooling',
 'Economy_status_Developed',
 'Economy_status_Developing']

In [9]:
## creating X and y
X = df[feature_cols] ## independant variables for features

y = df['Life_expectancy'] ## dependent variable for target

In [10]:
X.shape

(2864, 19)

In [11]:
y.shape

(2864,)

In [12]:
## split date into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 21)

In [13]:
X_train.shape

(2291, 19)

In [14]:
## check that index between X_train and y train match
(X_train.index == y_train.index).sum()

2291

In [15]:
def feature_eng(df):
    df = df.copy() ## create copy of dataframe
    
    '''one hot encoding'''
    df = pd.get_dummies(df, columns = ['Region'], drop_first=True, prefix = 'region')

    '''adding the constant for the intercept'''
    df = sm.add_constant(df)
    
    return df

In [16]:
X_train.head()

,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing
2739,Central America and Caribbean,2006,33.1,41.0,191.1225,2.36,89,83,25.6,90,89,0.19,3428,13.21,1.4,1.4,3.7,0,1
1139,Africa,2004,69.1,119.7,606.7310,5.76,93,99,25.8,88,86,19.93,2749,1.03,7.7,7.9,4.0,0,1
1726,European Union,2001,13.8,16.7,158.9380,11.07,93,85,25.3,94,94,0.02,3937,8.01,2.4,2.5,9.9,1,0
2593,Africa,2005,85.2,125.6,445.8890,0.85,76,64,23.1,87,76,2.33,1565,18.35,7.2,7.1,3.7,0,1
2072,Asia,2013,13.0,14.6,205.0770,3.80,99,99,26.2,98,98,0.13,10264,17.04,2.4,2.5,11.6,0,1

In [17]:
X_train_fe = feature_eng(X_train)
X_train_fe.head()

,const,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,Polio,...,Economy_status_Developed,Economy_status_Developing,region_Asia,region_Central America and Caribbean,region_European Union,region_Middle East,region_North America,region_Oceania,region_Rest of Europe,region_South America
2739,1.0,2006,33.1,41.0,191.1225,2.36,89,83,25.6,90,...,0,1,0,1,0,0,0,0,0,0
1139,1.0,2004,69.1,119.7,606.7310,5.76,93,99,25.8,88,...,0,1,0,0,0,0,0,0,0,0
1726,1.0,2001,13.8,16.7,158.9380,11.07,93,85,25.3,94,...,1,0,0,0,1,0,0,0,0,0
2593,1.0,2005,85.2,125.6,445.8890,0.85,76,64,23.1,87,...,0,1,0,0,0,0,0,0,0,0
2072,1.0,2013,13.0,14.6,205.0770,3.80,99,99,26.2,98,...,0,1,1,0,0,0,0,0,0,0

In [18]:
feature_cols = [
                  #'const',
                # 'Year',
                # 'Infant_deaths',
                # 'Under_five_deaths',
                'Adult_mortality', ## per 1000 household???
                # 'Alcohol_consumption',
                # 'Hepatitis_B',
                # 'Measles',
                # 'BMI',
                'Polio',
                # 'Diphtheria',
                # 'Incidents_HIV',
                # 'GDP_per_capita',
                # 'Population_mln',
                # 'Thinness_ten_nineteen_years',
                # 'Thinness_five_nine_years',
                'Schooling',
                # 'Economy_status_Developed',
                # 'Economy_status_Developing',
                # 'region_Asia',
                # 'region_Central America and Caribbean',
                # 'region_European Union',
                # 'region_Middle East',
                # 'region_North America',
                # 'region_Oceania',
                # 'region_Rest of Europe',
                # 'region_South America'
                ]


#                ##vif columns
# feature_cols = [
#               # 'const',  
#               'Under_five_deaths',
#               'Incidents_HIV',
#               'GDP_per_capita',
#               'Population_mln',
#               'Thinness_five_nine_years',
#               'region_Asia',
#               'region_Central America and Caribbean',
#               'region_European Union',
#               'region_Middle East',
#               'region_North America',
#               'region_Oceania',
#               'region_Rest of Europe',
#               'region_South America'
#               ]
            #   ##step wise columns
            #   [ 'Adult_mortality',
            #     'Under_five_deaths',
            #     'Economy_status_Developed',
            #     'Economy_status_Developing',
            #     'region_Central America and Caribbean',
            #     'GDP_per_capita',
            #     'region_South America',
            #     'region_Oceania',
            #     'Infant_deaths',
            #     'region_European Union',
            #     'Schooling',
            #     'BMI',
            #     'Year',
            #     'Incidents_HIV',
            #     'Hepatitis_B']

                
## linear regression with statsmodels
lin_reg = sm.OLS(y_train, X_train_fe[feature_cols])
model = lin_reg.fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:        Life_expectancy   R-squared (uncentered):                   0.984
Model:                            OLS   Adj. R-squared (uncentered):              0.984
Method:                 Least Squares   F-statistic:                          4.837e+04
Date:                Mon, 10 Jul 2023   Prob (F-statistic):                        0.00
Time:                        13:36:20   Log-Likelihood:                         -8196.3
No. Observations:                2291   AIC:                                  1.640e+04
Df Residuals:                    2288   BIC:                                  1.642e+04
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Adult_mortality     0.0024      0.001      1.658      0.097      -0.000       0.005
Polio               0.6620      0.009     76.844      0.000       0.645       0.679
Schooling           1.2972      0.075     17.362      0.000       1.151       1.444
==============================================================================
Omnibus:                      101.272   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              163.585
Skew:                           0.375   Prob(JB):                     3.01e-36
Kurtosis:                       4.073   Cond. No.                         97.9
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [19]:
X_train_fe[feature_cols].corr()

                 Adult_mortality     Polio  Schooling
Adult_mortality         1.000000 -0.518076  -0.583831
Polio                  -0.518076  1.000000   0.556769
Schooling              -0.583831  0.556769   1.000000

In [20]:
# predict on training data with feature columns
y_train_pred = model.predict(X_train_fe[feature_cols])

# compare errors between y_train_actual vs y_train_predicted
rmse = statsmodels.tools.eval_measures.rmse(y_train, y_train_pred)

rmse

8.659778147413142

In [21]:
## TEST
X_test_fe = feature_eng(X_test) ## feature engineer X_test

In [22]:
X_test_fe[feature_cols]

      Adult_mortality  Polio  Schooling
2826         303.7545     54        4.0
2564         248.7515     61        1.6
1864         144.8485     99        9.2
2615         480.3625     80        5.3
2473         159.6640     99        7.9
...               ...    ...        ...
2414         125.8835     90        6.1
2325         239.0430     85        4.4
1316         180.8715     92       12.5
664          251.5445     91        6.9
2121         186.7480     96       11.1

[573 rows x 3 columns]

In [44]:
# predict on test data with feature columns
y_test_pred = model.predict(X_test_fe[feature_cols])

# compare errors between y_test_actual vs y_test_predicted
# rmse = statsmodels.tools.eval_measures.rmse(y_test, y_test_pred)

# rmse

y_test_pred.values

array([41.67405491, 43.06052432, 77.8201322 , 61.00135149, 76.16989731,
       78.18045464, 72.02410902, 78.79057039, 51.847779  , 79.10667471,
       74.96692181, 76.98465311, 78.56069462, 40.93032278, 64.84450241,
       62.80989968, 66.9030492 , 54.58856869, 77.136015  , 74.12439757,
       43.82429538, 69.77215139, 39.86720707, 32.92125291, 75.36932292,
       77.01703375, 62.92405982, 80.04267995, 63.31731044, 73.7074676 ,
       74.10528077, 76.41065664, 60.91515984, 59.62234122, 75.47315052,
       37.17751312, 54.03722417, 48.90901735, 75.88822388, 70.09550626,
       69.61016922, 77.82671751, 79.07554684, 75.99337043, 69.97328026,
       53.53413474, 73.7685834 , 68.60494093, 74.25887569, 61.90851616,
       74.07788091, 74.34885069, 72.22206643, 78.05538699, 63.19378167,
       52.12454645, 72.47812112, 69.39926655, 58.35338159, 81.6429984 ,
       71.03326819, 50.0657691 , 79.23143982, 59.47127947, 36.27443123,
       62.82294103, 64.25662831, 72.13781307, 27.54185502, 76.21905789,
       64.01810282, 47.13500789, 70.21648718, 65.37209976, 77.03807776,
       57.04213055, 70.73718512, 74.59117763, 79.7317871 , 63.29036235,
       68.62889406, 40.14706407, 74.27415754, 75.53208909, 74.54889448,
       77.898871  , 78.17616992, 77.22401875, 67.96872314, 69.4488646 ,
       73.87207181, 70.8381313 , 68.82538706, 78.51534103, 75.74747629,
       80.25972485, 79.94018833, 74.10545532, 38.08240465, 81.13214808,
       75.93899081, 73.07096368, 69.41981602, 71.53189737, 50.99145956,
       71.37488249, 73.9006761 , 71.42775102, 63.69989388, 77.41813753,
       78.69542988, 75.90009702, 73.54096766, 75.81988127, 76.79229342,
       69.39151109, 76.43317994, 76.38150074, 79.99550511, 77.45388064,
       41.21755888, 73.03140469, 74.94816104, 75.0439397 , 51.30171447,
       78.63025437, 60.00972878, 73.01268085, 79.31075555, 75.12719347,
       78.7248233 , 60.8185675 , 56.32376341, 72.1919058 , 69.47576735,
       77.12907752, 54.13579166, 67.61347626, 76.08825621, 41.57942673,
       71.75774223, 60.46192393, 20.02558112, 78.76285872, 57.96423995,
       61.76715247, 22.66602379, 70.5191702 , 76.45350262, 25.22359137,
       77.51640369, 73.18338395, 72.35383969, 66.9639181 , 77.97187775,
       74.99496786, 77.55116296, 80.26737506, 37.43947028, 76.97166402,
       55.26501353, 62.21841347, 73.92189673, 53.16612359, 76.37649246,
       66.16090873, 71.68202776, 76.26126055, 74.59702875, 75.64518076,
       74.21183003, 70.0381901 , 56.85118776, 78.20606978, 70.70355072,
       60.12903987, 73.99342219, 59.20974687, 66.43279385, 45.83941971,
       62.80500002, 74.4529419 , 25.42894509, 78.2165676 , 77.87132683,
       73.75499988, 53.08492066, 76.11873242, 45.11936922, 45.11345477,
       62.50432767, 76.68173646, 65.62733699, 49.46168079, 75.28436961,
       55.70137919, 77.84191898, 62.02174262, 76.02988577, 45.27123333,
       49.32496219, 66.40954651, 74.23747622, 79.84154631, 65.4866757 ,
       66.28056226, 75.03059863, 54.01438078, 78.48654995, 73.40828162,
       76.95324507, 63.03036552, 79.24373444, 74.48897588, 45.61967376,
       74.13818297, 77.61811104, 72.49316825, 60.36944839, 67.20624423,
       72.30590146, 72.66844422, 79.81099078, 58.63819972, 74.97498637,
       64.49852854, 77.38619017, 63.85435589, 43.97873269, 47.64916592,
       80.94364394, 75.91281315, 76.01995011, 50.88751888, 72.4861502 ,
       70.3804213 , 61.78595986, 79.52715623, 72.65413051, 40.62020906,
       26.6453696 , 64.43692296, 48.11876973, 80.29302601, 49.89097806,
       76.67779123, 81.77002508, 61.24703147, 72.47374005, 73.67572279,
       73.48422617, 77.1336412 , 46.69790276, 73.22377377, 78.88779415,
       76.0561196 , 55.6719605 , 59.27084163, 73.72716716, 74.14287337,
       81.70057407, 74.48466788, 58.95579571, 76.88556319, 81.0978722 ,
       56.81425154, 53.83103123, 62.9720184 , 38.70795572, 65.10763756,
       72.90231404, 41.86048301, 28.67288499, 77.41158034, 72.72337154,
       61.78487241, 73.13884356, 59.36226749, 80.38894534, 61.82643393,
       75.31967423, 81.00630293, 64.40388816, 75.81205338, 64.37606373,
       19.49780454, 79.16199213, 54.91560917, 77.0974931 , 71.60587025,
       34.46748853, 68.56753131, 73.8303411 , 78.08812594, 64.04425529,
       68.56471208, 69.57611389, 61.15759004, 80.06999734, 15.75085358,
       77.15836883, 57.49848074, 68.40565633, 64.6548618 , 81.98078594,
       78.9613918 , 64.69939597, 64.70308509, 76.65569669, 78.76238916,
       36.45275913, 59.65435202, 74.24569225, 36.7874624 , 72.55241589,
       73.66240748, 46.42527908, 42.90609781, 71.54592506, 76.14447518,
       37.14489625, 74.39827272, 72.01399418, 75.97916302, 72.35989737,
       72.12263531, 38.35776048, 75.19804285, 61.29297203, 66.53790973,
       63.80504739, 23.32850127, 79.58751989, 69.39603463, 76.90813765,
       78.90842708, 68.93835775, 78.04964963, 62.93007209, 74.91267865,
       75.08151946, 56.30515013, 77.04267745, 78.9003269 , 61.06900654,
       69.53607149, 77.02312851, 57.38708114, 77.91381702, 74.38767629,
       73.13968303, 72.34908016, 67.71602441, 73.17821673, 49.33491187,
       79.07108904, 68.20685079, 78.51630936, 62.6459164 , 73.26357739,
       77.80484187, 35.61645304, 77.30168141, 75.4823207 , 80.42522306,
       66.04920919, 71.90605301, 65.35760191, 80.31636161, 62.35587298,
       61.99862207, 69.11624738, 69.02394219, 70.29766869, 71.11346913,
       79.59440107, 51.88919197, 66.70196068, 78.88153632, 65.12491072,
       58.62322035, 80.56256808, 59.48970651, 50.19834402, 49.95882252,
       70.71564194, 74.62643677, 75.07533037, 49.87181109, 76.98018698,
       68.23446557, 75.54964669, 56.02152981, 77.640819  , 81.8115127 ,
       76.35624988, 66.16907266, 78.31042203, 78.03555528, 79.52711746,
       77.0992176 , 73.42041805, 67.4916692 , 60.96357599, 63.29247622,
       74.15890543, 75.49480088, 77.00728838, 80.850457  , 74.90935213,
       35.56309531, 80.32615535, 42.5865798 , 79.15986482, 33.03615866,
       52.68291703, 77.54054582, 81.0130856 , 76.25686342, 75.54507937,
       75.55374253, 76.01541074, 75.19160649, 46.13413574, 66.30162941,
       62.83202902, 76.68719716, 71.64583088, 66.77358965, 73.82625316,
       35.23686586, 72.15286376, 74.84004249, 60.95927416, 63.36132524,
       48.81449753, 55.81455243, 52.44652885, 72.85953358, 76.72445745,
       69.65141572, 73.4767907 , 49.56391507, 56.11578716, 81.05280634,
       73.63807309, 75.14543426, 53.8930558 , 75.01002776, 75.30124982,
       63.78269919, 75.74222197, 58.65156897, 60.45520293, 49.47308405,
       64.23906008, 65.17273974, 57.77983539, 65.11293537, 73.55259445,
       62.94297242, 71.03613197, 80.96662009, 62.81505047, 71.21788576,
       78.64795536, 77.82016713, 71.08597569, 67.81316306, 74.73719762,
       56.35879058, 66.69350503, 54.13155166, 48.31386951, 51.94930842,
       76.21948398, 63.26566345, 69.25633504, 78.06775483, 38.92608334,
       66.50170405, 74.01113486, 63.4563649 , 74.56021063, 80.88490316,
       81.52178611, 57.7227017 , 43.44162395, 72.94162013, 70.77080219,
       76.57891497, 74.88484451, 49.5753901 , 62.60116731, 71.44088506,
       75.70043775, 49.47844869, 77.17642019, 79.97515499, 74.32661321,
       73.97228005, 68.21063953, 80.31356057, 78.30409264, 73.51239309,
       68.56587552, 60.38712923, 75.6419126 , 77.4218346 , 73.3984302 ,
       77.14778302, 41.09116335, 81.88335453, 32.16667464, 65.62095001,
       48.91930392, 79.51850238, 56.81630601, 35.48886905, 64.75762414,
       78.96851438, 72.97355905, 58.7562659 , 69.17340443, 34.59529066,
       48.29574722, 63.50199161, 37.03525886, 80.14182198, 79.45319187,
       77.69444493, 46.08627917, 74.42833585, 78.01896632, 50.37264892,
       76.05745204, 71.84443131, 74.56790733, 76.39879328, 69.01555674,
       62.69335863, 80.84760891, 79.32312997, 75.59770678, 74.01383816,
       72.75728042, 77.89769668, 67.09897572, 54.50436204, 69.30887617,
       69.91754978, 79.81507011, 67.23570101, 49.75804106, 46.31949011,
       64.76687508, 53.21314815, 80.40792606, 58.95609581, 79.93843835,
       67.92039536, 77.26818314, 72.02905435, 63.68727689, 55.31996744,
       77.44252545, 75.85360023, 54.7982458 , 67.7951264 , 62.55581955,
       77.55488413, 69.80091943, 78.40096729])

In [24]:
list(X_train_fe.columns)

['const',
 'Year',
 'Infant_deaths',
 'Under_five_deaths',
 'Adult_mortality',
 'Alcohol_consumption',
 'Hepatitis_B',
 'Measles',
 'BMI',
 'Polio',
 'Diphtheria',
 'Incidents_HIV',
 'GDP_per_capita',
 'Population_mln',
 'Thinness_ten_nineteen_years',
 'Thinness_five_nine_years',
 'Schooling',
 'Economy_status_Developed',
 'Economy_status_Developing',
 'region_Asia',
 'region_Central America and Caribbean',
 'region_European Union',
 'region_Middle East',
 'region_North America',
 'region_Oceania',
 'region_Rest of Europe',
 'region_South America']

In [25]:
from statsmodels.stats.outliers_influence import variance_inflation_factor # a module to evaluate the (VIF)
        
cols = [
        #'const',
        'Year',
        'Infant_deaths',
        'Under_five_deaths',
        'Adult_mortality',
        'Alcohol_consumption',
        'Hepatitis_B',
        'Measles',
        'BMI',
        'Polio',
        'Diphtheria',
        'Incidents_HIV',
        'GDP_per_capita',
        'Population_mln',
        'Thinness_ten_nineteen_years',
        'Thinness_five_nine_years',
        'Schooling',
        'Economy_status_Developed',
        'Economy_status_Developing',
        'region_Asia',
        'region_Central America and Caribbean',
        'region_European Union',
        'region_Middle East',
        'region_North America',
        'region_Oceania',
        'region_Rest of Europe',
        'region_South America'
        ]

## We can create an indexed list (a series) where we list the VIF of each of the columns. Note the use of '.shape' in the second part of the loop
pd.Series([variance_inflation_factor(X_train_fe[cols].values, i) for i in range(X_train_fe[cols].shape[1])], index = X_train_fe[cols].columns)

Year                                         1.147647
Infant_deaths                               48.027082
Under_five_deaths                           49.583479
Adult_mortality                              8.208243
Alcohol_consumption                          3.390794
Hepatitis_B                                  2.731519
Measles                                      1.655600
BMI                                          3.803642
Polio                                       12.328867
Diphtheria                                  13.268096
Incidents_HIV                                3.027861
GDP_per_capita                               2.622886
Population_mln                               1.189227
Thinness_ten_nineteen_years                  9.232533
Thinness_five_nine_years                     9.395227
Schooling                                    5.472702
Economy_status_Developed                 45226.098323
Economy_status_Developing               172720.804647
region_Asia                                  2.633876
region_Central America and Caribbean         2.271348
region_European Union                        6.798858
region_Middle East                           2.284431
region_North America                         1.575707
region_Oceania                               1.938304
region_Rest of Europe                        2.499551
region_South America                         1.822452
dtype: float64

In [26]:
## This a piece of code from stats.stackexchange.com

## It runs the model with all the variables.
## If any of them have a higher VIF than 5, it drops the max. 
## Then it keeps going until none of them have a higher VIF than 5.
## This leaves us with a nice set of features with no collineraity

def calculate_vif(X, thresh = 5.0):
    variables = list(range(X.shape[1]))
    dropped = True
    while dropped:
        dropped = False
        # this bit uses list comprehension to gather all the VIF values of the different variables
        vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]
        
        maxloc = vif.index(max(vif)) # getting the index of the highest VIF value
        if max(vif) > thresh:
            print('dropping \'' + X.iloc[:, variables].columns[maxloc] +
                  '\' at index: ' + str(maxloc))
            del variables[maxloc] # we delete the highest VIF value on condition that it's higher than the threshold
            dropped = True # if we deleted anything, we set the 'dropped' value to True to stay in the while loop

    print('Remaining variables:')
    print(X.columns[variables]) # finally, we print the variables that are still in our set
    return X.iloc[:, variables] # and return our X cut down to the remaining variables

In [27]:
calculate_vif(X_train_fe[cols])

dropping 'Economy_status_Developing' at index: 17
dropping 'Year' at index: 0
dropping 'Polio' at index: 7
dropping 'BMI' at index: 6

dropping 'Infant_deaths' at index: 0
dropping 'Diphtheria' at index: 5
dropping 'Hepatitis_B' at index: 3
dropping 'Adult_mortality' at index: 1
dropping 'Schooling' at index: 8
dropping 'Thinness_ten_nineteen_years' at index: 6
dropping 'Measles' at index: 2
dropping 'Economy_status_Developed' at index: 6
dropping 'Alcohol_consumption' at index: 1
Remaining variables:
Index(['Under_five_deaths', 'Incidents_HIV', 'GDP_per_capita',
       'Population_mln', 'Thinness_five_nine_years', 'region_Asia',
       'region_Central America and Caribbean', 'region_European Union',
       'region_Middle East', 'region_North America', 'region_Oceania',
       'region_Rest of Europe', 'region_South America'],
      dtype='object')

,Under_five_deaths,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_five_nine_years,region_Asia,region_Central America and Caribbean,region_European Union,region_Middle East,region_North America,region_Oceania,region_Rest of Europe,region_South America
2739,41.0,0.19,3428,13.21,1.4,0,1,0,0,0,0,0,0
1139,119.7,19.93,2749,1.03,7.9,0,0,0,0,0,0,0,0
1726,16.7,0.02,3937,8.01,2.5,0,0,1,0,0,0,0,0
2593,125.6,2.33,1565,18.35,7.1,0,0,0,0,0,0,0,0
2072,14.6,0.13,10264,17.04,2.5,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2416,5.4,0.08,41929,62.28,0.5,0,0,0,0,0,0,1,0
48,26.1,0.14,994,5.61,3.3,1,0,0,0,0,0,0,0
772,71.0,1.08,1087,0.15,7.6,0,1,0,0,0,0,0,0
1848,17.4,0.40,8454,27.25,1.5,0,0,0,0,0,0,0,1
1231,106.5,3.79,634,36.34,7.9,0,0,0,0,0,0,0,0

In [28]:
def stepwise_selection(X, y, threshold_in = 0.01, threshold_out = 0.05, verbose = True):
    # The function is checking for p-values (whether features are statistically significant) - lower is better
    included = [] # this is going to be the list of features we keep
    while True:
        changed = False
        # forward step
        excluded = list(set(X.columns) - set(included))
        new_pval = pd.Series(index = excluded, dtype = 'float64')
        for new_column in excluded:
            model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included + [new_column]]))).fit()
            new_pval[new_column] = model.pvalues[new_column]
        best_pval = new_pval.min()
        # we add the feature with the lowest (best) p-value under the threshold to our 'included' list
        if best_pval < threshold_in:
            best_feature = new_pval.idxmin()
            included.append(best_feature)
            changed = True
            if verbose:
                print('Add  {:30} with p-value {:.6}'.format(best_feature, best_pval)) # specifying the verbose text


        # backward step: removing features if new features added to the list make them statistically insignificant
        model = sm.OLS(y, sm.add_constant(pd.DataFrame(X[included]))).fit()
        
        # use all coefs except intercept
        pvalues = model.pvalues.iloc[1:]
        worst_pval = pvalues.max() # null if pvalues is empty
        # if the p-value exceeds the upper threshold, the feature will be dropped from the 'included' list
        if worst_pval > threshold_out:
            changed = True
            worst_feature = pvalues.idxmax()
            included.remove(worst_feature)
            if verbose:
                print('Drop {:30} with p-value {:.6}'.format(worst_feature, worst_pval))
        if not changed:
            break
    return included

In [29]:
result = stepwise_selection(X_train_fe[cols], y_train)

print('resulting features:')
print(result)

Add  Under_five_deaths              with p-value 0.0
Add  Adult_mortality                with p-value 0.0
Add  Economy_status_Developing      with p-value 1.02532e-141
Add  Economy_status_Developed       with p-value 0.0
Add  region_Central America and Caribbean with p-value 3.62237e-48
Add  GDP_per_capita                 with p-value 7.15626e-43
Add  region_South America           with p-value 1.40247e-35
Add  region_Oceania                 with p-value 3.69033e-28
Add  Infant_deaths                  with p-value 7.08662e-17
Add  region_European Union          with p-value 1.3387e-17
Add  Schooling                      with p-value 2.91802e-10
Add  BMI                            with p-value 4.44513e-13
Add  Year                           with p-value 1.21781e-06
Add  Incidents_HIV                  with p-value 1.46056e-05
Add  Hepatitis_B                    with p-value 0.00014228
resulting features:
['Under_five_deaths', 'Adult_mortality', 'Economy_status_Developing', 'Economy_status_Developed', 'region_Central America and Caribbean', 'GDP_per_capita', 'region_South America', 'region_Oceania', 'Infant_deaths', 'region_European Union', 'Schooling', 'BMI', 'Year', 'Incidents_HIV', 'Hepatitis_B']

In [30]:
cols2 = list(['Adult_mortality', 'Under_five_deaths', 'Economy_status_Developed', 'Economy_status_Developing', 'region_Central America and Caribbean', 'GDP_per_capita', 'region_South America', 'region_Oceania', 'Infant_deaths', 'region_European Union', 'Schooling', 'BMI', 'Year', 'Incidents_HIV', 'Hepatitis_B'])

In [31]:
cols2

['Adult_mortality',
 'Under_five_deaths',
 'Economy_status_Developed',
 'Economy_status_Developing',
 'region_Central America and Caribbean',
 'GDP_per_capita',
 'region_South America',
 'region_Oceania',
 'Infant_deaths',
 'region_European Union',
 'Schooling',
 'BMI',
 'Year',
 'Incidents_HIV',
 'Hepatitis_B']